html, body, #root{
  width: 100%;
  height: 100%;
}

body{
  background: rgb(212, 212, 212);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.App {
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.wrapper{
  flex-grow: 1;
  flex-shrink: 0;
}

main li{
  list-style-type: none;
}

main ul{
  text-align: center;
  justify-content: left;
}

.header-icon{
  height: 5vw;
  width: 5vw;
}

.pencil-icon{
  height: 20px;
}

.badger-icon{
  height: 10vw;
  width: 10vw;
}

.logo{
  display: inline-block;
}

.logo img{
  display: inline-block;
}

.logo div{
  display: inline-block;
}

.logo p{
  display: block;
  margin: 0;
  font-size: .8em;
  font-family: 'Varela Round', sans-serif;
}

h1{
  color: rgb(97, 38, 165);
  text-shadow: 1px 1px black;
}

h3{
  color: rgb(97, 38, 165);
  text-shadow: 1px 1px black;
}

a{
  text-decoration: none;
}

button{
  border-radius: 5px;
  height: 20px;
  font-weight: 500;
  background: rgb(97, 38, 165);
  color: white;
  transition-duration: .4s;
  -webkit-transition-duration: .4s;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input, textarea{
  border-radius: 10px;
}

.delete-button{
  background: red;
  border-radius: 40%;
  height: auto;
  transition-duration: .4s;
  -webkit-transition-duration: .4s;
}

button.delete-button:hover{
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.header{
  text-align: justify;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(93, 186, 230, .5);
}

/* .header > div{
  display: inline-block;
} */

.header ul {
  display: inline-block;
  margin: 0 auto;
  /* height: 100%; */
}

.header li{
  display: inline-block;
  margin: 0 10vw;
}

.header > * {
  display: inline-block;
}

.registration-form{
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.profile-pic{
  height: auto;
  max-width: 90%;
}



.filter-form{
  height: 100%;
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(93, 186, 230);
}

.filter-form > div{
  display: block;
  height: 50%;
  margin-top: 0;
  padding: 0;
}

.filter-box{
  /* border: 1px solid rgb(93, 186, 230); */
  padding: 0;
}

.filter-box h3{
  background: rgba(128, 128, 128, 0.514);
}

.badge-filter-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.badge-filter-box h3{
  grid-column-start: 0;
  grid-column-end: 2;
}

.badge-filter-box div{
  display: inline-block;
}

.swipe-users{
  border-top: 2px solid rgb(93, 186, 230);
}

.gender-and-age div{
  display: block;
}

.badge-container li{
  display: inline-block;
  margin: 0 10px;
}

.match-container li{
  /* display: inline-block; */
}

.error-window{
  color: red;
}

.footer{
  border-top: 1px solid rgba(93, 186, 230, .5);
  flex-shrink: 0;
}
