body{
  /* background: url('/transparentbadgerbg.jpg'); */
  background: lightblue;
  background-position: center;
  background-size: 200px;
  background-repeat: repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.App {
  text-align: center;
}

h1{
  color: rgb(240, 99, 34);
  text-shadow: 3px 2px black;
}

a{
  text-decoration: none;
}

button{
  border-radius: 5px;
  font-size: 1em;
  height: 30px;
}

.header{
  text-align: center;
  border-bottom: 2px solid lightgrey;
}

.header li{
  display: inline-block;
  margin: 3px;
}

.header button{
  background: blue;
  color: white;
}

main{
  text-align: center;
  min-height: calc(100vh - 10px);
}

main button{
  background: rgb(183, 35, 241);
  color: white;
}

main li{
  list-style-type: none;
}

main ul{
  text-align: center;
  justify-content: left;
}

.filter-form{
  height: 100%;
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid lightgrey;
}

.filter-form div{
  display: inline-block;
  height: 100%;
  margin-top: 0;
}

.registration-form{
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.filters div{
  padding: 10px;
}

.badge-container li{
  display: inline-block;
  margin: 0 10px;
}


.error-window{
  color: red;
}

.footer{
  border-top: 2px solid lightgrey;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
}
