body{
  /* background: url('/transparentbadgerbg.jpg'); */
  background: rgb(203, 219, 224);
  background-position: center;
  background-size: 200px;
  background-repeat: repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.App {
  text-align: center;
}

.profile-icon{
  height: 50px;
  width: 40px;
}

.heart-icon{
  height: 50px;
  width: 50px;
}

.pencil-icon{
  height: 20px;
}

h1{
  color: rgb(48, 16, 224);
  text-shadow: 1px 1px black;
}

h3{
  color: rgb(48, 16, 224);
  text-shadow: 1px 1px black;
}

a{
  text-decoration: none;
}

button{
  border-radius: 5px;
  height: 20px;
  font-weight: 500;
  background: rgb(48, 16, 224);
  color: white;
  transition-duration: .4s;
  -webkit-transition-duration: .4s;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.delete-button{
  background: red;
  border-radius: 40%;
  height: auto;
  transition-duration: .4s;
  -webkit-transition-duration: .4s;
}

button.delete-button:hover{
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.header{
  text-align: center;
  border-bottom: 2px solid rgb(93, 186, 230);
}

.header li{
  display: inline-block;
  margin: 0 5vw;
}

.registration-form{
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

main{
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

main li{
  list-style-type: none;
}

main ul{
  text-align: center;
  justify-content: left;
}

.filter-form{
  height: 100%;
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(93, 186, 230);
}

.filter-form > div{
  display: block;
  height: 50%;
  margin-top: 0;
  padding: 0;
}

.filter-box{
  /* border: 1px solid rgb(93, 186, 230); */
  padding: 0;
}

.filter-box h3{
  background: rgba(128, 128, 128, 0.514);
}

.badge-filter-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.badge-filter-box h3{
  grid-column-start: 0;
  grid-column-end: 2;
}

.badge-filter-box div{
  display: inline-block;
}

.swipe-users{
  border-top: 2px solid rgb(93, 186, 230);
}

.gender-and-age div{
  display: block;
}

.badge-container li{
  display: inline-block;
  margin: 0 10px;
}


.error-window{
  color: red;
}

.footer{
  grid-row-start: 2;
  grid-row-end: 3;
  border-top: 2px solid rgb(93, 186, 230);
  /* flex-shrink: 0; */
  /* position: relative; */
  /* bottom: 0;
  left: 0;
  right: 0;
  height: 10px; */
}
